<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      //var data = google.visualization.arrayToDataTable();

      data.addColumn("number", "");
      {{range .Stream}}data.addColumn("number", "{{flowLabel .Info.Flow}}");
      {{end}}
      data.addColumn({type: "string", role: "style"});
      {{$streams := (len .Stream)}}
      {{range $col, $stream := .Stream}}data.addRows([
        {{range $stream.Goodput}}{{.MbpsRow $col $streams .First .Last}},
        {{end}}
      ]);
      {{end}}

      var options = {{.Options}};

      var chart = new google.visualization.LineChart(
        document.getElementById('line_top_x'));

      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="line_top_x"></div>
</body>
</html>
