<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {"packages":["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable({{.Data}});
      var options = {{.Options}};
      var chart = new {{.Class}}(document.getElementById("gchart"));
      chart.draw(data, options);
    }
  </script>
{{template "Style"}}
</head>

<body>

{{/* Index */}}
<div>
<h3>Index</h3>
<ol>
  <li><a href="#plot">Plot</a></li>
{{if .Stream}}
  <li><a href="#streams">Streams</a></li>
{{end}}
</ol>
</div>

{{/* Google Charts element, referenced from JS */}}
<h3 id="plot">Plot</h3>
<div id="gchart"></div>

{{/* Streams Table */}}
{{if .Stream}}
<h3 id="streams">Streams</h3>
<div>
  <table>
    <tr>
      <th>ID</th>
      <th>T<sub>0</sub> (Sec.)</th>
      <th>Completion Time (Sec.)</th>
      <th>Length (Bytes)</th>
      <th>Goodput (Mbps)</th>
    </tr>
{{range .Stream}}
    <tr>
      <td>{{.Flow}}</td>
      <td>{{(index .Sent 0).T.Duration.Seconds}}</td>
      <td>{{.FCT.Seconds}}</td>
      <td>{{.Length.Bytes}}</td>
      <td>{{.Goodput.Mbps}}</td>
    </tr>
{{end}}
  </table>
</div>
{{end}}

</body>
</html>
