<!DOCTYPE html>
<html>

<head>
{{template "Style"}}
<style>
  .link {
    font-family: monospace;
  }
</style>
{{if .Title}}
  <title>{{.Title}}</title>
{{end}}
</head>

<body>

{{if .Title}}
<h2>{{.Title}}</h2>
{{end}}

{{range .Group}}
  {{if .Value}}
  <h3>{{.Value}}</h3>
  {{end}}
  <table>
    <tr>
  {{range .Column}}
      <th>{{.}}</th>
  {{end}}
      <th>files</th>
    </tr>
  {{$c := .Column}}
  {{range $t := .Test}}
    <tr>
  {{range $c}}
      <td>{{index $t.ID .}}</td>
  {{end}}
  <td class="link">{{range $t.Link}}<a href="{{.Href}}">{{.Name}}</a><br/> {{end}}</td>
    </tr>
  {{end}}
  </table>
{{end}}

</body>
</html>
