<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 1em;
}
table {
  border-collapse: collapse;
  border: 1px solid #ddd;
}
th {
  background-color: #008000;
  color: white;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
.link {
  font-family: monospace;
}
</style>
{{if .Title}}
<title>{{.Title}}</title>
{{end}}
</head>
<body>

{{if .Title}}
<h2>{{.Title}}</h2>
{{end}}

{{range .Group}}
  {{if .Value}}
  <h3>{{.Value}}</h3>
  {{end}}
  <table>
    <tr>
  {{range .Column}}
      <th>{{.}}</th>
  {{end}}
      <th>Files</th>
    </tr>
  {{$c := .Column}}
  {{range $t := .Test}}
    <tr>
  {{range $c}}
      <td>{{index $t.ID .}}</td>
  {{end}}
  <td class="link">{{range $t.Link}}<a href="{{.Href}}">{{.Name}}</a><br/> {{end}}</td>
    </tr>
  {{end}}
  </table>
{{end}}

</body>
</html>
