{{/* SPDX-License-Identifier: GPL-3.0-or-later */}}
{{/* Copyright 2024 Pete Heist */}}
<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 1em;
}
pre {
  white-space: pre-wrap;
}
</style>
</head>
<body>

<h2>System Information for {{.NodeID}}</h2>

<p>
<table>
  <tr>
    <td><i>Hostname</i></td>
    <td>{{.Hostname}}</td>
  </tr>
{{if .OS}}
  <tr>
    <td><i>OS</i></td>
    <td>{{.OS}}</td>
  </tr>
{{end}}
  <tr>
    <td><i>Antler Version</i></td>
    <td>{{.AntlerVersion}}</td>
  </tr>
</table>
</p>

<h3>Contents</h3>

<ol>
  <li><a href="#Kernel_Source">Kernel Source</a></li>
  <li><a href="#Go">Go</a></li>
  <ol type="a">
    <li><a href="#GoRuntime">Runtime</a></li>
    <li><a href="#GoBuild">Build</a></li>
  </ol>
  <li><a href="#Commands">Commands</a></li>
  <ol type="a">
    {{range $v := .Command}}
    <li><a href="#command_{{$v.String}}">{{$v.String}}</a></li>
    {{end}}
  </ol>
  <li><a href="#Files">Files</a></li>
  <ol type="a">
    {{range $v := .File}}
    <li><a href="#file_{{$v.Name}}">{{$v.Name}}</a></li>
    {{end}}
  </ol>
  <li><a href="#Environment">Environment</a></li>
  <li><a href="#Sysctls">Sysctls</a></li>
</ol>

<h3 id="Kernel_Source">Kernel Source</h3>
<pre>
{{.KernSrcInfo}}
</pre>

<h3 id="Go">Go</h3>

<p id="GoRuntime"><u>Runtime</u></p>

<p>
<table>
  <tr>
    <td><i>Version</i></td>
    <td>{{.GoVersion}}</td>
  </tr>
  <tr>
    <td><i>OS/Arch</i></td>
    <td>{{.GoOS}}/{{.GoArch}}</td>
  </tr>
  <tr>
    <td><i>NumCPU</i></td>
    <td>{{.NumCPU}}</td>
  </tr>
</table>
</p>

<p id="GoBuild"><u>Build</u></p>

<table>
  <tr>
    <td><i>Build Version</i></td>
    <td>{{.GoBuildVersion}}</td>
  </tr>
{{range $k, $v := .BuildSetting}}
  <tr>
    <td><i>{{$k}}</i></td>
    <td>{{$v}}</td>
  </tr>
{{end}}
</table>

<h3 id="Commands">Commands</h3>
{{range $k, $v := .Command}}
<p id="command_{{$v.String}}"><i># {{$v.String}}</i></p>
<pre>{{$v.Trim}}</pre>
{{end}}

<h3 id="Files">Files</h3>
{{range $k, $v := .File}}
<p id="file_{{$v.Name}}"><u>{{$v.Name}}</u></p>
<pre>{{printf "%s" $v.Data}}</pre>
{{end}}

<h3 id="Environment">Environment</h3>
<p>
<table>
{{range $k, $v := .Env}}
  <tr>
    <td><i>{{$k}}</i></td>
    <td>{{$v}}</td>
  </tr>
{{end}}
</table>
</p>

<h3 id="Sysctls">Sysctls</h3>
<p>
<pre>
{{range $k, $v := .Sysctl -}}
{{$k}} = {{$v}}
{{end}}
</pre>
</p>

</body>
</html>
